<div class="jumbotron">
  <h1>Monster Truck Control</h1>
  <p>Controll the Monster truck by using the buttons below in your keyboard</p>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><button type="button" id="up" ng-class="{ green: upflag }" class="btn btn-lg"  ><i class="fa fa-arrow-up fa-4x" aria-hidden="true"></i></button></div>
        <div class="col-md-4"></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4"><button type="button" id="left" ng-class="{ green: leftflag }" class="btn btn-lg"><i class="fa fa-arrow-left  fa-4x" aria-hidden="true"></i></button></div>
        <div class="col-md-4"><button type="button" id="down" ng-class="{ green: downflag }" class="btn btn-lg"><i class="fa fa-arrow-down fa-4x" aria-hidden="true"></i></button></div>
        <div class="col-md-4"><button type="button" id="right" ng-class="{ green: rightflag }" class="btn btn-lg"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></button></div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>



</div>
